@model UserDetailsViewModel

<form method="post">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="text-danger font-weigth-bolt" asp-validation-summary="ModelOnly"></div>

            <input type="hidden" name="Email" value="@Model?.Email">

            <div>
                <span class="input-group-text" id="basic-addon1">Введите ФИО</span>
                <input class="form-control" asp-for="Name" aria-describedby="basic-addon1">
                <br> <span asp-validation-for="Name"></span>
            </div>

            <div>
                <span class="input-group-text" id="basic-addon1">Введите телефон</span>
                <input class="form-control" asp-for="Phone" aria-describedby="basic-addon1">
                <br> <span asp-validation-for="Phone"></span>
            </div>


            <div>
                <span class="input-group-text" id="basic-addon1">Введите адрес</span>
                <input class="form-control" asp-for="Address" aria-describedby="basic-addon1">
                <br> <span asp-validation-for="Address"></span>
            </div>

            <br>
            <button class="btn btn-outline-success" type="submit" asp-area="" asp-controller="Order" asp-action="CreateNew">Оформить заказ</button>
        </div>
    </div>
</form>