
<div class="row m-4">
    <div class="col-4">
        Этот книжный магазин является учебным проектом.</a>
    </div>
    <div class="col-6">
        Посмотреть этот и другие проекты можно на <a class="link-secondary" href="https://github.com/IrinaKoroban">GitHub</a>
    </div>
</div>
