
<div class="row m-4">
	<div class="col-4">
		Этот книжный магазин является учебным проектом по курсу <a class="link-secondary" href="#">Web программирования на ASP.Net Core. Всё сам.</a>
	</div>
</div>
<div class="row m-4">
	<div class="col-6"> 
		Посмотреть этот и другие проекты можно на <a class="link-secondary" href="#">GitHub</a>
	</div>
</div>
<div class="row m-4">
	<div class="col-6">
		<a class="link-secondary" href="#">Резюме</a>
	</div>
</div>
