@model ChangePasswordViewModel

<div class="row">
	<div class="col-2">
		@await Html.PartialAsync("UserMenu")
	</div>

	<div class="col-6">
		<form method="post">
			<div class="row justify-content-md-center">
				<div class="col">
					<br><h3>Смена пароля</h3>

					<div class="text-danger font-weigth-bolt" asp-validation-summary="All"></div>
					<input type="hidden" name="Email" value="@Model.Email" />

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Старый пароль</span>
						<input class="form-control" asp-for="OldPassword" aria-describedby="basic-addon1"/>
						<br> <span asp-validation-for="OldPassword"></span>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Новый пароль</span>
						<input class="form-control" asp-for="NewPassword" aria-describedby="basic-addon1"/>
						<br> <span asp-validation-for="NewPassword"></span>
					</div>

					<br>
					<button class="btn-outline-success btn" type="submit" asp-area="" asp-controller="User" asp-action="ChangePassword">Сменить</button>
					<button class="btn-outline-secondary btn" type="submit" asp-area="" asp-controller="User" asp-action="Detail" asp-route-email="@Model.Email">Назад</button>
				</div>
			</div>
		</form>
	</div>
</div>


