<footer class="footer text-muted p-4 pb-4" style="position: absolute; left: 0; bottom: 0; height: 130px; width: 100%; overflow: hidden;">
    <div class="container">
        <div class="container px-5">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <h3 class="fw-bold">Book Shop</h3>
                    <p class="pt-3">Онлайн-магазин является учебным проектом.</p>
                </div>
                <div class="col">
                    <ul class="list-unstyled pt-2">
                        <li class="py-1"><a class="link-secondary" asp-area="" asp-controller="Home" asp-action="Index"></a></li>
                        <li class="py-1"><a class="link-secondary" asp-area="" asp-controller="Home" asp-action="About">О магазине</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>